.About-page {
  padding-top: 8.5em;
  text-align: center;
  position: relative;
  padding-bottom: 8.5em;
}
.personal-photo img {
  width: 100%;
  height: auto;
  padding-top: 3em;
  max-width: 300px;
  flex-grow: 2;
}
.personal-photo img {
  padding: 0 0 0 0;
}
.About-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.published-work a {
  color: black;
}
.published-work a:hover {
  color: #93fed2;
}
.published-work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
}
.publications {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 780px) {
  .publications {
    flex-direction: column;
    align-items: center;
  }
}
.About-image img {
  max-height: 500px;
  max-width: 400px;
}
@media screen and (max-width: 750px) {
  .About-image img {
    max-height: 100px;
    max-width: 300px;
  }
}
.About-inner {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.About-text-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .About-text-photo {
    flex-direction: column;
    align-items: center;
  }
}

.App {
  text-align: center;
}
/* .App-header {
 background-color: #222;
 height: 0px;
 padding: 0px;
 color: white;
 display: flex;
 justify-content: space-around;
 } */
.Header-Container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.visible {
  visibility: visible;
}
#route-inner {
  margin-top: 0.5em;
  visibility: hidden;
}
.App-container {
  display: flex;
  justify-content: space-around;
  background-color: lightpink;
  font-family: 'Raleway', sans-serif;
  height: 8.2em;
  transition: all 0.2s ease;
}
.App-container:hover {
  height: 11em;
}
.info-container {
  position: relative;
}
.contact-info {
  display: flex;
  flex-direction: column;
  top: 75px;
}
.contact-inner {
  display: flex;
  flex-direction: row;
}
#contact-inner {
  margin-left: 5.5em;
}
@media screen and (max-width: 750px) {
  #contact-inner {
    margin-left: 2.5em;
  }
}
.contact {
  margin: 0 0 0 0;
  padding-left: 0.5em;
}
#pinky {
  font-size: 4em;
  margin-top: 10px;
}
@media screen and (max-width: 750px) {
  #pinky {
    font-size: 2em;
  }
}
#pinky:hover {
  color: hotpink;
}
#desc {
  color: white;
  margin: 0 0 0 0;
  /* opacity: 0; */
}
#desc:hover {
  opacity: 0.5;
}
#route1 {
  color: white;
  font-size: 30px;
}
#route2 {
  color: white;
  font-size: 30px;
}
#route3 {
  color: white;
  font-size: 30px;
}
.contact-info {
  position: absolute;
  margin-top: 1px;
}
.App-intro {
  font-size: large;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  text-align: center;
  display: block;
}
.experience-cards {
  padding-top: 0;
  padding-bottom: 0;
}
.Experience-page {
  padding-top: 9.5em;
  padding-bottom: 8.5em;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 780px) {
  body {
    font-size: 20px;
  }
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #93fed2;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-card {
  width: 400px;
}
.project-inner img {
  max-width: 400px;
}
.project-inner a {
  color: black;
}
.project-inner a:hover {
  color: #93fed2;
}
.project-image img:hover {
  box-shadow: 10px 8px;
}
