.About-page {
  padding-top: 8.5em;
  text-align: center;
  position: relative;
}

.personal-photo img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-top: 3em;
}

.About-container {
  display: flex;
  justify-content: space-around;
}

.About-text {
  flex-basis: 50em;
  flex-shrink: 0.5;
}

.published-work a {
  color: black;
}

.published-work a:hover {
  color: #93fed2;
}

.published-work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.publication {
  display: flex;
  justify-content: space-around;
}
