.App {
  text-align: center;
}

/* .App-header {
  background-color: #222;
  height: 0px;
  padding: 0px;
  color: white;
  display: flex;
  justify-content: space-around;
} */

.Header-Container {
  position: fixed;
  width: 100%;
  top: 0;
}

.visible {
  visibility: visible;
}

#route-inner {
  margin-top: 1em;
  visibility: hidden;
}

.App-container {
  display: flex;
  justify-content: space-around;
  background-color: lightpink;
  font-family: "Raleway", sans-serif;
  height: 8.2em;
  transition: all 0.5s ease;
}

.App-container:hover {
  height: 11em;
}

.info-container {
  position: relative;
}

.contact-info {
  display: flex;
  flex-direction: column;
  top: 75px;
}

.contact-inner {
  display: flex;
  flex-direction: row;
}

#contact-inner {
  margin-left: 6em;
}

.contact {
  margin: 0 0 0 0;
  padding-left: 0.5em;
}

#pinky {
  font-size: 4em;
  margin-top: 10px;
}

#pinky:hover {
  color: hotpink;
}

#desc {
  color: white;
  margin: 0 0 0 0;
  /* opacity: 0; */
}

#desc:hover {
  opacity: 0.5;
}

#routes {
  color: white;
  font-size: 30px;
}

.my-container {
  position: relative;
}

.contact-info {
  position: absolute;
  margin-top: 1px;
}

.App-intro {
  font-size: large;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
